<link href="/css/stylesheet.css/" rel="stylesheet">

<div class="popups-cont">
  <div class="popups-cont__overlay"></div>
  <div class="popup">
    <div class="popup__pieces"></div>
    <div class="popup__content" style="background-image: url(/img/papa/popup.png);">
      <div class="popup__close"></div>
      <h3 class="popup__heading" style="color: white;">Владислав Геннадьевич <br>Михеев</h3>
      <p class="popup__text" style="text-transform: uppercase;"><br><br><br><br><br><br>ИНЖЕНЕР ПО ОБСЛУЖИВАНИЮ и эксплуатации локально-вычислительной системы стадиона "волгоград Арена"</p>
    </div>
  </div>
</div>

<button type="button" class="popup-btn">Владислав МИХЕЕВ</button>


<div class="cont s--inactive">
  <!-- cont inner start -->
  <div class="cont__inner">
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading">РАБОТА</h2>
          </div>
          <div class="el__content">
            <div class="el__text" style="font-size: 20px;">
              <ul>
                <li>
                  <span style="color: #008cba;">09.01.2020 - по настоящее время</span><br> <a href="https://volgogradarena.com" style="color: white; " target="_blank;">
                    <span class="underline--magical">--- ГАУ ВО "ДИРЕКЦИЯ ПО ЭКСПЛУАТАЦИИ СТАДИОНА "ВОЛГОГРАД АРЕНА"</span></a>
                </li><br>
                <li>
                  <span style="color: #008cba;">01.12.2017 - 31.12.2019</span><br> <a href="http://sportin.su" style="color: white; " target="_blank;">
                    <span class="underline--magical">--- ФГУП "СПОРТ-ИНЖИНИРИНГ"</span></a>
                </li><br>
                <li>
                  <span style="color: #008cba;">26.06.2017 - 01.01.2018</span><br> <a href="http://taskt.ru" style="color: white; " target="_blank;">
                    <span class="underline--magical">--- ООО "ТАСК-Т"</span></a>
                </li><br>
                <li>
                  <span style="color: #008cba;">08.06.2016 - 01.01.2017</span><br> <a href="https://www.rusprofile.ru/id/5422481" style="color: white;" target="_blank;">
                    <span class="underline--magical">--- ООО "ТЕХНОПАРК"</span></a>
                </li><br>
                <li>
                  <span style="color: #008cba;">02.11.2015 - 01.01.2017</span><br> <a href="https://www.rusprofile.ru/id/7379576" style="color: white;" target="_blank;">
                    <span class="underline--magical">--- ООО "ЮЖНЫЙ ЦЕНТР СТРОИТЕЛЬНЫХ ТЕХНОЛОГИЙ"</span></a>
                </li><br>
                <li>
                  <span style="color: #008cba;">01.01.2015 - 05.10.2015</span><br> <a href="https://www.rusprofile.ru/id/4833855" style="color: white;" target="_blank;">
                    <span class="underline--magical">--- ООО "АГРОСТРОЙВОЛГОГРАД"</span></a>
                </li><br>
                <li>
                  <span style="color: #008cba;">01.07.2015 - 05.10.2015</span><br> <a href="https://www.agroinvest.com" style="color: white;" target="_blank;">
                    <span class="underline--magical">--- ФИЛИАЛ ЗАО "АГРОИНВЕСТ"</span></a>
                </li><br>
                <li>
                  <span style="color: #008cba;">02.03.2015 - 31.08.2015</span><br> <a href="https://vmk-shop.ru" style="color: white;" target="_blank;">
                    <span class="underline--magical">--- ООО "ЦАРЬ-ПРОДУКТ ЭЛИТА"</span></a>
                </li><br>
                <li>
                  <span style="color: #008cba;">10.09.2015 - 05.10.2015</span><br> <a href="https://vmk-shop.ru" style="color: white;" target="_blank;">
                    <span class="underline--magical">--- ФИЛИАЛ ООО "ЦАРЬ ПРОДУКТ ВЫГОДА"</span></a>
                </li><br>
                <li>
                  <span style="color: #008cba;">13.02.2013 - 09.09.2015</span><br> <a href="https://vmk-shop.ru" style="color: white;" target="_blank;">
                    <span class="underline--magical">--- ООО "ЦАРЬ-ПРОДУКТ"</span></a>
                </li><br>






              </ul>
            </div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">1</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="1">1</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading">НАВЫКИ</h2>
          </div>
          <div class="el__content">
            <div class="el__text">Whatever</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">2</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="2">2</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading" style="color: #1B5583;">ОПЫТ</h2>
          </div>
          <div class="el__content">
            <div class="el__text">Whatever</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">3</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="3">3</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading">ОБРАЗО-<br>ВАНИЕ</h2>
          </div>
          <div class="el__content">
            <div class="el__text">Whatever</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">4</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="4">4</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading">СЕМЬЯ</h2>
          </div>
          <div class="el__content">
            <div class="el__text">Whatever</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">5</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="5">5</div>
        </div>
      </div>
    </div>
    <!-- el end -->
  </div>
  <!-- cont inner end -->
</div>


<a href="https://github.com/vladmikheyev/" target="_blank" class="icon-link icon-link--github">
  <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/github-128.png">
</a>

<script>
  var $cont = document.querySelector('.cont');
  var $elsArr = [].slice.call(document.querySelectorAll('.el'));
  var $closeBtnsArr = [].slice.call(document.querySelectorAll('.el__close-btn'));

  setTimeout(function() {
    $cont.classList.remove('s--inactive');
  }, 200);

  $elsArr.forEach(function($el) {
    $el.addEventListener('click', function() {
      if (this.classList.contains('s--active')) return;
      $cont.classList.add('s--el-active');
      this.classList.add('s--active');
    });
  });

  $closeBtnsArr.forEach(function($btn) {
    $btn.addEventListener('click', function(e) {
      e.stopPropagation();
      $cont.classList.remove('s--el-active');
      document.querySelector('.el.s--active').classList.remove('s--active');
    });
  });

  // VARIABLES
  const magicalUnderlines = Array.from(document.querySelectorAll('.underline--magical'));

  const gradientAPI = 'https://gist.githubusercontent.com/wking-io/3e116c0e5675c8bcad8b5a6dc6ca5344/raw/4e783ce3ad0bcd98811c6531e40256b8feeb8fc8/gradient.json';

  // HELPER FUNCTIONS

  // 1. Get random number in range. Used to get random index from array.
  const randNumInRange = max => Math.floor(Math.random() * (max - 1));

  // 2. Merge two separate array values at the same index to
  // be the same value in new array.
  const mergeArrays = (arrOne, arrTwo) => arrOne
    .map((item, i) => `${item} ${arrTwo[i]}`)
    .join(', ');

  // 3. Curried function to add a background to array of elms
  const addBackground = (elms) => (color) => {
    elms.forEach(el => {
      el.style.backgroundImage = color;
    });
  }
  // 4. Function to get data from API
  const getData = async (url) => {
    const response = await fetch(url);
    const data = await response.json();
    return data.data;
  }

  // 5. Partial Application of addBackground to always apply
  // background to the magicalUnderlines constant
  const addBackgroundToUnderlines = addBackground(magicalUnderlines);

  // GRADIENT FUNCTIONS

  // 1. Build CSS formatted linear-gradient from API data
  const buildGradient = (obj) => `linear-gradient(${obj.direction}, ${mergeArrays(obj.colors, obj.positions)})`;

  // 2. Get single gradient from data pulled in array and
  // apply single gradient to a callback function
  const applyGradient = async (url, callback) => {
    const data = await getData(url);
    const gradient = buildGradient(data[randNumInRange(data.length)]);
    callback(gradient);
  }

  // RESULT
  applyGradient(gradientAPI, addBackgroundToUnderlines);
</script>
<script>
  // js only creates and insert parts + click events adds classes

  var numOfPieces = 6 * 6;

  var frag = document.createDocumentFragment();

  function insertInnerPieces($el, innerPieces) {
    for (var i = 0; i < innerPieces; i++) {
      var $inner = document.createElement('div');
      $inner.classList.add('popup__piece-inner');
      $el.appendChild($inner);
    }
  };

  for (var i = 1; i <= numOfPieces; i++) {
    var $piece = document.createElement('div');
    $piece.classList.add('popup__piece');

    insertInnerPieces($piece, 3);
    frag.appendChild($piece);
  }

  document.querySelector('.popup__pieces').appendChild(frag);

  var $popupsCont = document.querySelector('.popups-cont');
  var $popup = document.querySelector('.popup');
  var popupAT = 900;

  document.querySelector('.popup-btn').addEventListener('click', function() {
    $popupsCont.classList.add('s--popup-active');
    $popup.classList.add('s--active');
  });

  function closeHandler() {
    $popupsCont.classList.remove('s--popup-active');
    $popup.classList.remove('s--active');
    $popup.classList.add('s--closed');

    setTimeout(function() {
      $popup.classList.remove('s--closed');
    }, popupAT);
  }

  document.querySelector('.popup__close').addEventListener('click', closeHandler);

  document.querySelector('.popups-cont__overlay').addEventListener('click', closeHandler);
</script>
