<link href="/css/button2.css/" rel="stylesheet">



<div class="centerer">
  <br>
  <h1>{{ .Get "altheader"}}</h1>
  <br>

  <div class="wrap">
    <a class="btn-0" href="{{ .Get "href1"}}">{{ .Get "alt1"}}</a>
    <a class="btn-1" href="{{ .Get "href2"}}">{{ .Get "alt2"}}</a>
    <a class="btn-1-2" href="#">{{ .Get "alt3"}}</a>
    <a class="btn-2" href="#">{{ .Get "alt4"}}</a>
    <a class="btn-3" href="#"><span>{{ .Get "alt5"}}</span></a>
    <a class="btn-4" href="#"><span>{{ .Get "alt6"}}</span></a>

  </div>
  <div class="wrap">
    <a class="btn-6" href="#">{{ .Get "alt7"}}<span></span></a>
    <a class="btn-7" href="#"><span>{{ .Get "alt8"}}</span></a>
    <a class="btn-8" href="#">{{ .Get "alt9"}}</a>
    <a class="btn-9" href="#"><span>{{ .Get "alt10"}}</span></a>
    <a class="btn-10" href="#"><span>{{ .Get "alt11"}}</span></a>
    <a class="btn-11" href="#">{{ .Get "alt12"}}</a>
  </div>
</div>


<script>
  $(function() {
    $('.btn-6')
      .on('mouseenter', function(e) {
        var parentOffset = $(this).offset(),
          relX = e.pageX - parentOffset.left,
          relY = e.pageY - parentOffset.top;
        $(this).find('span').css({
          top: relY,
          left: relX
        })
      })
      .on('mouseout', function(e) {
        var parentOffset = $(this).offset(),
          relX = e.pageX - parentOffset.left,
          relY = e.pageY - parentOffset.top;
        $(this).find('span').css({
          top: relY,
          left: relX
        })
      });
    $('[href=#]').click(function() {
      return false
    });
  });
</script>
